@(importForm: Form[Import.Import])(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("import_file_title"), -1) {

	<div class="row">
	<div class="span12">
	
	@helper.form(action = routes.Import.processImport, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
	
		<fieldset>
    	<legend>@Messages("import_file_headline")</legend>

            @select(
            importForm("delimiter"),
                Seq("," -> (Messages("commna") + " (,)"), ";" -> (Messages("semicolon") + " (;)"))
            )

            @helper.inputText(
                importForm("ignoreString"),
                '_label -> Messages("ignore_string")
            )

            @helper.inputFile(
                importForm("filePath"),
                '_label -> Messages("file_path")
	        )

	    <br/>
	    
	    <input type="submit" value="@Messages("import")" class="btn btn-primary"/>
	    
	    </fieldset>
	   
	}
	
	</div>
	</div>	
}