@(loginForm: Form[Login.LogUser])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("login_title")) {

	<div class="row">
	<div class="span12">
			
	@helper.form(action = routes.Login.login, 'class -> "form-horizontal") {
	
		<fieldset>
    	<legend>@Messages("login_headline")</legend>

        @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-error">
            @loginForm.globalError.get.message
        </div>
        }
								
	    @helper.inputText(
	    	loginForm("username")
	    )
	    	    	    	          	    
	    @helper.inputPassword(
	    	loginForm("password")
	    )

        <br/>

        <input type="submit" value="@Messages("login")" class="btn btn-primary"/>

	    </fieldset>

        <br/>

        <a href="/resetPasswordForm">@Messages("forgot_password")</a>

	}
	
	</div>
	</div>					
}