@(loginForm: Form[Login.LogUser])(implicit request: play.api.mvc.RequestHeader)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("login_title")) {

	<div class="row">
	<div class="span9">
			
	@helper.form(action = routes.Login.login, 'class -> "form-horizontal") {
	
		<fieldset>
    	<legend>@Messages("login_headline")</legend>
								
	    @helper.inputText(
	    	loginForm("username"),
	    	'_error -> loginForm.globalError
	    )
	    	    	    	          	    
	    @helper.inputPassword(
	    	loginForm("password"),
	    	'_error -> loginForm.globalError
	    )	
	    	    
	    <br/>
	    
	    <input type="submit" value="@Messages("login")" class="btn btn-primary"/>
	    
	    </fieldset>
	   
	}
	
	</div>
	</div>					
}