@(title: String, activeStep: Int = -1)(content: Html)(implicit request: play.api.mvc.RequestHeader)

@breadCrumbItem(text: String, active: Boolean, displayArrow: Boolean = true) = {
	@if(active){
		<li><a href="#">@text</a> @if(displayArrow){<i class="icon-play"></i>}</li>
	} else {
		<li class="active">@text @if(displayArrow){<i class="icon-play"></i>}</li>
	}     
}

<!DOCTYPE html>

<html>
<head>
<title>@title</title>

<meta charset="utf-8">
<meta name="description"
	content="Online generátor CSV souborů. Efektivní práce pomocí průvodce. Při přihlášení automatické ukládání stavu generátoru.">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">        
               
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        	
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>       
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26144328-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

</head>
<body>

	<div class="container"> 
		<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
		  	<div>	  
			    <ul class="nav">	
			      <li><a href="/index">@Messages("home")</a></li>
			      <li><a href="/registrationForm">@Messages("register")</a></li>
			      <li><a href="/loginForm">@Messages("login")</a></li>
			      <li><a href="/feedback">@Messages("feedback")</a></li>
			      <li><a href="/logout">@Messages("logout")</a></li>			      		      
			    </ul>
			    <p class="navbar-text pull-right">@request.session.get("username")</p>
			  </div>	    
		  </div>
		</div>
	
		@if(!request.flash.get("successKey").isEmpty) {
		<div class="alert alert-success">
			@Messages((request.flash.get("successKey").get))
		</div>	
		}
		
		@if(activeStep > 0) {
			<ul class="breadcrumb">
			  @breadCrumbItem(Messages("step1_headline"), (activeStep==1))
			  @breadCrumbItem(Messages("step2_headline"), (activeStep==2))
			  @breadCrumbItem(Messages("step3_headline"), (activeStep==3))
			  @breadCrumbItem(Messages("step4_headline"), (activeStep==4), false)
			</ul>	
		}	
		
		@content	
	</div>	

</body>
</html>


