@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>

<meta charset="utf-8">
<meta name="description"
	content="Online generátor CSV souborů. Efektivní práce pomocí průvodce. Při přihlášení automatické ukládání stavu generátoru.">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>


<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26144328-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

</head>
<body>

    	<span class="headerItem">
    	<a href="/">@Messages("home")</a>
    	</span>
    	
    	
    	

			<span class="headerItem">
			<a href="/logout">@Messages("logout")</a>
			</span>

	

			<span class="headerItem">
    		<a href="/registration">@Messages("register")</a>
    		</span>

    		<span class="headerItem">
    		<a href="/login">@Messages("login")</a>
    		</span>

    	

    	<span class="headerItem">
		<a href="/feedback">@Messages("feedback")</a>
		</span>

@content

</body>
</html>


