@(registrationForm: Form[Application.User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("registration_title")) {

	<div class="row">
	<div class="span9">
	
	
	
	@helper.form(action = routes.Application.register, 'class -> "form-horizontal") {
	
		<fieldset>
    	<legend>@Messages("registration_headline")</legend>
								
	    @helper.inputText(
	    	registrationForm("username"),
	    	'_help -> "Please choose a valid username.",
	    	'_error -> registrationForm.globalError
	    )	          
	    
	    @helper.inputPassword(
	    	registrationForm("password.main"),
	    	'_label -> Messages("password"),
	    	'_error -> registrationForm.error("password")
	    )	
	    	    
	    @helper.inputPassword(
	    	registrationForm("password.confirm"),
	    	'_label -> Messages("password_again"),
	    	'_error -> registrationForm.error("password")
	    )
	    <br/>
	    
	    <input type="submit" value="@Messages("register")" class="btn btn-primary"/>
	    
	    </fieldset>
	    		    	
	    
	    	    	   
		
	}
	
	</div>
	</div>					
}