@(registrationForm: Form[Registration.RegUser])(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("registration_title")) {

	<div class="row">
	<div class="span9">
	
	
	
	@helper.form(action = routes.Registration.registration, 'class -> "form-horizontal") {
	
		<fieldset>
    	<legend>@Messages("registration_headline")</legend>
								
	    @helper.inputText(
	    	registrationForm("username"),
	    	'_error -> registrationForm.globalError
	    )
	    
	    @helper.inputText(
	    	registrationForm("email"),
	    	'_error -> registrationForm.error("email")
	    )	          	    	          
	    
	    @helper.inputPassword(
	    	registrationForm("password.main"),
	    	'_label -> Messages("password"),
	    	'_error -> registrationForm.error("password")
	    )	
	    	    
	    @helper.inputPassword(
	    	registrationForm("password.again"),
	    	'_label -> Messages("password_again")
	    )
	    <br/>
	    
	    <input type="submit" value="@Messages("register")" class="btn btn-primary"/>
	    
	    </fieldset>
	    		    	
	    
	    	    	   
		
	}
	
	</div>
	</div>					
}