@(profileForm: Form[Profile.ResetData])(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("reset_password_headline")) {

	<div class="row">
	<div class="span12">
	
	@helper.form(action = routes.Profile.resetPassword, 'class -> "form-horizontal") {
	
		<fieldset>
    	<legend>@Messages("reset_password_headline")</legend>

	    @helper.inputText(
	    	profileForm("email"),
	    	'_error -> profileForm.globalError,
            '_help -> Messages("reset_help")
	    )	          	    	          

	    <br/>
	    
	    <input type="submit" value="@Messages("reset")" class="btn btn-primary"/>
	    
	    </fieldset>
	}
	
	</div>
	</div>					
}