@(step3Form: Form[Steps.Step3], values: Seq[String], columns: Int, rows: Int)(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputInline.f) }

@main(Messages("step3_title")) {

	<div class="row">
	<div class="span9">
	
	<fieldset>
    <legend>@Messages("step3_headline")</legend>
        
    <table>
        
    @repeat(step3Form("matrix"), min = 1) { cols =>
    	<tr>
    	@repeat(cols, min = 1) { cell =>
    		<td>
            @select(
                step3Form("matrix"), 
                values map (i => (i,i)),
                '_label -> ""           
            ) 
    		</td>
    	}
    	</tr>    
	}    
	</table>
 	
	<a href="/step1"class="btn btn-primary" >@Messages("previous")</a> 
	<a href="/step3"class="btn btn-primary" >@Messages("next")</a> 
	
	</fieldset>
	
	</div>
	</div>

}