@(step3Form: Form[Steps.Step3], values: Seq[String], columns: Int, rows: Int)(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputInline.f) }

@cellField(field: Field) = {
	@select(
	    field,
	    values map (i => (i,i)),
	    '_label -> "",
	    '_default -> ""
	)     
}

@cellsRow(field: Field) = {
  
	@repeat(field("cells"), min = 0) { cell =>   
		<td>
	    @cellField(cell)
	    </td>
	}
	 
}

@main(Messages("step3_title")) {

	<div class="row">
	<div class="span9">
	
	<form action="/processStep3" method="post">
	
	<fieldset>
    <legend>@Messages("step3_headline")</legend>
        
    <table>
    
    @repeat(step3Form("rows")) { row =>
    	<tr>
        @cellsRow(row)
        </tr>
    
    }
      
	</table>
 	
 	</fieldset>
 	
	<input name="prevSubmit" type="submit" class="btn btn-primary" value="@Messages("previous")"></input>
	<input name="nextSubmit" type="submit" class="btn btn-primary" value="@Messages("next")"></input>
	
	</form>
	
	</div>
	</div>

}