@(step2Form: Form[Steps.Step2], values: scala.collection.Set[String])(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputInline.f) }

@main(Messages("step2_title"), 2) {

	<div class="row">
	<div class="span12">
	
	<fieldset>
    <legend>@Messages("step2_headline")</legend>
    
   	<table>    	
		@for(v <- values.iterator) {
				@helper.form(action = routes.Steps.step2RemoveValue) {
	 				<tr>
	 				<td>@v</td>
	 				<td><input type="submit" class="btn" value="@Messages("remove")"></input></td>
	 				</tr>
	 				<input id="value" name="value" type="hidden" value="@v"></input>
 				}
		}
	</table>
	
	<br/>
		
	@helper.form(action = routes.Steps.step2AddValue, 'class -> "form-inline") {
	
		@if(step2Form.error("value")) {
			<div class="alert alert-error">
				@Messages("cell_value_must_not_be_empty")
			</div>
		}

		<span class=" control-group @if(step2Form.error("value")){error} ">
				    									
	    @helper.inputText(
	    	step2Form("value"),
	    	'_label -> Messages("step2_new_value")	    	
	    )
	    
	    </span>
	    
	
	    <input type="submit" value="@Messages("add")" class="btn"/>	    	    	    	          	    	    	    	  	    	    	   	    	   	    
	   
	}

	<a href="/step1"class="btn btn-primary" >@Messages("previous")</a> 
	<a href="/step3"class="btn btn-primary" >@Messages("next")</a> 
	
	</fieldset>

    <br/>
	
	</div>
	</div>	
}