@(step2Form: Form[Steps.Step2], values: Set[String])(implicit request: play.api.mvc.RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputInline.f) }

@main(Messages("step2_title")) {

	<div class="row">
	<div class="span9">
	
	<fieldset>
    <legend>@Messages("step2_headline")</legend>
    
   	<table>    	
		@for(v <- values) {
 				<tr>
 				<td>@v</td>
 				<td><a class="btn btn-mini" href="#">@Messages("remove")</a></td>
 				</tr>
		}
	</table>
	
	<br/>
		
	@helper.form(action = routes.Steps.step2AddValue, 'class -> "form-inline") {
	
		@if(step2Form.error("newValue")) {
			<div class="alert alert-error">
				@Messages("cell_value_must_not_be_empty")
			</div>
		}
	
		<span class=" control-group @if(step2Form.error("newValue")){error} ">
				    									
	    @helper.inputText(
	    	step2Form("newValue"),
	    	'_label -> Messages("step2_new_value")	    	
	    )
	    
	    </span>
	    
	
	    <input type="submit" value="@Messages("add")" class="btn"/>	    	    	    	          	    	    	    	  	    	    	   	    	   	    
	   
	}
	
	<input type="button" value="@Messages("previous")" class="btn btn-primary"/>
	<input type="button" value="@Messages("next")" class="btn btn-primary"/>
	
	</fieldset>
	
	</div>
	</div>	
}