#{extends 'main.html' /}
#{set title:'Generátor CSV souborů - přihlášení uživatele' /}

<h1>Generátor CSV souborů</h1>
<h2>Přihlášení uživatele</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>Nepodařilo se přihlásit</h3>
    <ul>
		#{errors 'login.message'}
	    	<li>${error}</li>
	    #{/errors}  
		#{errors 'userLogin.username'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'userLogin.password'}
	    	<li>${error}</li>
	    #{/errors}
	</ul>	
</div>
#{/ifErrors}

<table class="center">
#{form @Application.processLogin(), method:'POST' }

<tr>
<td><label for="password">Uživatelské jméno : </label></td>
<td><input id="username" type="text" name="username" value="${params.username}" /></td>
</tr>

<tr>
<td><label for="password">Heslo : </label></td>
<td><input id="password" type="password" name="password" value="${params.password}" /></td>
</tr>

</table>
<div class="buttonPanel">
<input type="submit" value="Přihlásit" />
</div>
#{/form}
