#{extends 'main.html' /}
#{set title:'Generátor CSV souborů - registrace uživatele' /}

<h1>Generátor CSV souborů</h1>
<h2>Registrace uživatele</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>Opravte, prosím, následující chyby ve formuláři</h2>
    <ul>
		#{errors 'user.username'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'user.password'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'user.confirmPassword'}
	    	<li>${error}</li>
	    #{/errors}	    
	</ul>

</div>
#{/ifErrors}

<table class="center">
#{form @Application.register(), method:'POST' }

<tr>
<td><label for="password">Uživatelské jméno : </label></td>
<td><input id="username" type="text" name="username" value="${params.username}" /></td>
</tr>

<tr>
<td><label for="password">Heslo : </label></td>
<td><input id="password" type="password" name="password" value="${params.password}" /></td>
</tr>

<tr>
<td><label for="passwordConfirm">Heslo ještě jednou : </label></td>
<td><input id="passwordConfirm" type="password" name="passwordConfirm" value="${params.passwordConfirm}" /></td>
</tr>

</table>

<div class="buttonPanel">
<input type="submit" value="Registrovat" />
</div>

#{/form}