#{extends 'main.html' /}
#{set title:'Generátor CSV souborů - registrace uživatele' /}

<h1>Generátor CSV souborů</h1>
<h2>Registrace uživatele</h2>

#{ifErrors}
<div class="error">
    <h3>Opravte, prosím, následující chyby ve formuláři</h2>
    <ul>
        #{errors}
            <li>${error}</li>
        #{/errors}
	</ul>

</div>
#{/ifErrors}

#{form @Application.register(), method:'POST' }

<label for="password">Uživatelské jméno : </label>
<input id="username" type="text" name="username" value="${params.username}" />
<span class="error">#{error 'username' /}</span>

 <br/>

<label for="password">Heslo : </label>
<input id="password" type="password" name="password" value="${params.password}" />
<span class="error">#{error 'password' /}</span>

 <br/>

<label for="passwordConfirm">Heslo ještě jednou : </label>
<input id="passwordConfirm" type="password" name="passwordConfirm" value="${params.passwordConfirm}" />
<span class="error">#{error 'passwordConfirm' /}</span>

<br/>

<input type="submit" value="Registrovat" />

#{/form}