#{extends 'main.html' /}
#{set title: messages.get("registration_title") /}

<h1>&{'headline'}</h1>
<h2>&{'registration_headline'}</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>&{'form_error_message'}</h2>
    <ul>
		#{errors 'user.username'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'user.password'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'user.confirmPassword'}
	    	<li>${error}</li>
	    #{/errors}	    
	</ul>

</div>
#{/ifErrors}

<table class="center">
#{form @Application.register(), method:'POST' }

<tr>
#{field 'username'}
<td><label for="${field.id}">&{'username'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}"/></td>
#{/field}
</tr>

<tr>
#{field 'password'}
<td><label for="${field.id}">&{'password'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="password" value="${field.value}"/></td>
#{/field}
</tr>

#{field 'passwordConfirm'}
<td><label for="${field.id}">&{'password_again'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="password" value="${field.value}"/></td>
#{/field}


</table>

<div class="buttonPanel">
<input type="submit" value="&{'register'}" />
</div>

#{/form}