#{extends 'main.html' /}
#{set title: messages.get("step2_title") /}

<h1>&{'headline'}</h1>
<h2>&{'step2_headline'}</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>&{'form_error_message'}</h3>
	<ul>
		#{errors 'step2.cellValue'}
	    	<li>${error}</li>
	    #{/errors}

	</ul>

</div>
#{/ifErrors}

#{if message != null }
   <div class="errorPanel">
	<ul>
 		<li>${message}</li>
 	</ul>
	</div>
#{/if}


<table class="center">
#{list items:gs.cellValues, as:'cell'}
    <tr>
    	<td>${cell}</td>
		<form action="@{Application.step2_removeCellValue}">
			<input hidden="true" name="cellValue" value="${cell}" />
			<td><input type="submit" value="&{'remove'}" /> </td>
		</form>
	</tr>
#{/list}
</table>

#{form @Application.step2_addCellValue(), method:'POST' }

#{field 'step2.cellValue'}
<label for="cellValue">&{'step2_new_value'}:</label>
<input id="${field.id}" name="${field.name}" type="text" value="${field.value}" />
<input type="submit" value="&{'add'}" />
#{/field}

#{/form}

<div class="buttonPanel">
<form action="@{Application.step1}">
<input class="left" type="submit" value="&{'previous'}" />
</form>
<form action="@{Application.step3}">
<input class="right" type="submit" value="&{'next'}" />
</form>
</div>