#{extends 'main.html' /}
#{set title: messages.get("step1_title") /}


<h1>&{'headline'}</h1>
<h2>&{'step1_headline'}</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>&{'form_error_message'}</h3>
	<ul>
		#{errors 'step1.rows'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'step1.columns'}
	    	<li>${error}</li>
	    #{/errors}
	</ul>
</div>
#{/ifErrors}

#{form @Application.step2_fromStep1(), method:'POST' }

<table class="center">
<tr>
#{field 'step1.rows'}
<td><label for="${field.id}">&{'step1_row_count'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}"/></td>
#{/field}
</tr>

<tr>
#{field 'step1.columns'}
<td><label for="${field.id}">&{'step1_column_count'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}" /></td>
#{/field}
</tr>
</table>
<div class="buttonPanel">
<input type="submit" value="&{'next'}" />
</div>

#{/form}