#{extends 'main.html' /}
#{set title: messages.get("step4_title") /}

<h1>&{'headline'}</h1>
<h2>&{'step4_headline'}</h2>

#{ifErrors}
<div class="error">
    <h3>&{'form_error_message'}</h3>
	<ul>
		#{errors 'step4.delimiter'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'step4.fileName'}
	    	<li>${error}</li>
	    #{/errors}
	</ul>

</div>
#{/ifErrors}

<table class="center" id="recapTable">
#{list items:1..Integer.parseInt(gs.rows), as:'row'}
    <tr>
    #{list items:1..Integer.parseInt(gs.columns), as:'column'}
    	<td>
    		${gs.matrix[row-1][column-1]}&nbsp;
    	</td>
    #{/list}
    </tr>
#{/list}
</table>


#{form @Application.generationParams(), method:'POST' }

<table class="center">
<tr>
<td><label for="step4.delimiter">&{'delimiter'}:</label></td>
<td style="text-align:left" >#{select 'step4.delimiter', items:step4.delimiters, valueProperty:'value', labelProperty:'description', value:step4.delimiter, id:'delimiter' /}</td>
</tr>

<tr>
#{field 'step4.fileName'}
<td><label for="${field.id}">&{'file_name'}:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}" /></td>
#{/field}
</tr>

</table>

<div class="buttonPanel">
<input class="left" type="submit" name="prevSubmit" value="&{'previous'}" />
<input class="right" type="submit" name="generateSubmit" value="&{'generate'}" />
</div>

#{/form}


