#{extends 'main.html' /}
#{set title:'Generátor CSV souborů - krok 1' /}

<h1>Generátor CSV souborů</h1>
<h2>Krok 1. - definování dimenzí</h2>

#{ifErrors}
<div class="error">
    <h3>Opravte, prosím, následující chyby ve formuláři</h2>
	<ul>
		#{errors 'step1.rows'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'step1.columns'}
	    	<li>${error}</li>
	    #{/errors}
	</ul>

</div>
#{/ifErrors}

#{form @Application.step2_fromStep1(), method:'POST' }

#{field 'step1.rows'}
<label for="${field.id}">Počet řádků:</label>
<input id="${field.id}" name="${field.name}" type="text" value="${field.value}"/>
#{/field}

<br/>

#{field 'step1.columns'}
<label for="${field.id}">Počet sloupců:</label>
<input id="${field.id}" name="${field.name}" type="text" value="${field.value}" />
#{/field}
<br/>
<input type="submit" value="Další" />

#{/form}