#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Generátor CSV souborů</h1>
<h2>Krok 3. - sestavení souboru</h2>

#{form @Application.newMatrix(), method:'POST' }
<table>
#{list items:1..Integer.parseInt(gs.rows), as:'row'}
    <tr>
    #{list items:1..Integer.parseInt(gs.columns), as:'column'}
    	<td>
    		#{select 'matrix[]', items:gs.cellValues, id:'select', value:gs.matrix[row-1][column-1] }
    			#{option }  #{/option}
    		#{/select}
    	</td>
    #{/list}
    </tr>
#{/list}
</table>
<input type="submit" name="submitPrev" value="Předchozí" />
<input type="submit" name="submitNext" value="Další"  />
#{/form}
