#{extends 'main.html' /}
#{set title: messages.get("step3_title") /}

<h1>&{'headline'}</h1>
<h2>&{'step3_headline'}</h2>

#{form @Application.newMatrix(), method:'POST' }
<table class="center">
#{list items:1..Integer.parseInt(gs.rows), as:'row'}
    <tr>
    #{list items:1..Integer.parseInt(gs.columns), as:'column'}
    	<td>
    		#{select 'matrix[]', items:gs.cellValues, id:'select', value:gs.matrix[row-1][column-1] }
    			#{option }  #{/option}
    		#{/select}
    	</td>
    #{/list}
    </tr>
#{/list}
</table>
<div class="buttonPanel">
<input class="left" type="submit" name="submitPrev" value="&{'previous'}" />
<input class="right" type="submit" name="submitNext" value="&{'next'}"  />
</div>
#{/form}
