#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Generátor CSV souborů</h1>
<h2>Krok 2. - definování hodnot</h2>

#{ifErrors}
<div class="error">
    <h3>Opravte, prosím, následující chyby ve formuláři</h2>
	<ul>
		#{errors 'step2.cellValue'}
	    	<li>${error}</li>
	    #{/errors}
	   
	</ul>

</div>
#{/ifErrors}

#{if message != null }
   <div class="error">
	<ul>
 		<li>${message}</li>
 	</ul>
	</div>
#{/if}



#{list items:gs.cellValues, as:'cell'}
    <li>
    	${cell}
		<form action="@{Application.step2_removeCellValue}">
			<input hidden="true" name="cellValue" value="${cell}">
			<input type="submit" value="Odstranit" />
		</form>
	</li>
#{/list}

#{form @Application.step2_addCellValue(), method:'POST' }

#{field 'step2.cellValue'}
<label for="cellValue">Nová hodnota pro buňky:</label>
<input id="${field.id}" name="${field.name}" type="text" value="${field.value}" />
<input type="submit" value="Přidat" />
#{/field}

#{/form}


<form action="@{Application.step1}">
<input type="submit" value="Předchozí" />
</form>
<form action="@{Application.step3}">
<input type="submit" value="Další" />
</form>