#{extends 'main.html' /}
#{set title:'Generátor CSV souborů - krok 1' /}

<h1>Generátor CSV souborů</h1>
<h2>Krok 1. - definování dimenzí</h2>

#{ifErrors}
<div class="errorPanel">
    <h3>Opravte, prosím, následující chyby ve formuláři</h2>
	<ul>
		#{errors 'step1.rows'}
	    	<li>${error}</li>
	    #{/errors}
		#{errors 'step1.columns'}
	    	<li>${error}</li>
	    #{/errors}
	</ul>
</div>
#{/ifErrors}

#{form @Application.step2_fromStep1(), method:'POST' }

<table class="center">
<tr>
#{field 'step1.rows'}
<td><label for="${field.id}">Počet řádků:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}"/></td>
#{/field}
</tr>

<tr>
#{field 'step1.columns'}
<td><label for="${field.id}">Počet sloupců:</label></td>
<td><input id="${field.id}" name="${field.name}" type="text" value="${field.value}" /></td>
#{/field}
</tr>
</table>
<div class="buttonPanel">
<input type="submit" value="Další" />
</div>

#{/form}