* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

/*.footer .container {
    background-color: #f5f5f5;
}*/

.footer .container p {
    text-align: center;
}

.container .credit {
    margin: 20px 0;
}
